<div>
  <%= @place.description %>. it’s <%= Time.now.in_time_zone("Tokyo").strftime("%H:%M") %><% if @weather_report != nil %>. it’s <%= "#{@weather_report.temp}°C with #{@weather_report.description}" %><% end %>
</div>
<% if @place.items.count != 0 %>
  <div>you see:
	  <% @place.items.each_with_index do |item, index| %>
		  <span class="item"><%= link_to item.name, place_item_path(@place, item) %></span><% if @place.items.count != 0 && index != @place.items.count - 1 %><%= index == (@place.items.count - 2) ? " and " : "," %><% end %>
	  <% end %>
  </div>
<% end %>
<% if @place.characters.count != 0 %>
  <div>you see:
	  <% @place.characters.each do |character| %>
		<span class="character"><%= link_to character.name, character_path(character) %></span>
	  <% end %>
  </div>
<% end %>
<div>exits:</div>
<% @place.outgoing_links.each do |outgoing_link| %>
  <div><%= link_to outgoing_link.description, place_path(outgoing_link.to) %></div>
<% end %>
<%= render "shared/items", place: @place %>
<% if @other_users != nil && @other_users.count != 0 %>
  <div>also here with you (but possibly resting):</div>
  <% @other_users.each do |user| %>
	<div class="user"><%= user.name %>
		<% if user.items.count != 0 %>
		  (holding: <% user.items.each_with_index do |item, index| %>
		    <%= item.name %><% if user.items.count != 1 && index != user.items.count - 1 %><%= index == (user.items.count - 1) ? " and " : "," %><% end %><% end %>)
		<% end %>
    <% if user.activity.present? %>
      (they appear to be <%= User::ACTIVITIES[user.activity.to_sym][:doing_it] %>)
    <% end %>
	</div>
  <% end %>
<% end %>
<div>you can:
  <% User::ACTIVITIES.each do |key, value| %>
    <%= link_to value[:do_it], "/places/#{@place.id}/#{key.to_s}" %>
  <% end %>
</div>
<div class="place" data-controller="place-subscription" data-place-subscription-place-id-value="<%= @place.id %>">
  <div class="messages" data-place-subscription-target="messages"></div>
  <% if current_user != nil %>
    <%= simple_form_for [@place, @chat_message], html: { data: { action: "turbo:submit-end->place-subscription#resetForm" }, class: "mt-2 d-flex" } do |f| %>
      <%= f.submit "send", class: "mb-3" %>
      <%= f.input :content,
        label: false,
        placeholder: "say something",
        wrapper_html: { class: "col-lg-6 col-9" }
      %>
    <% end %>
  <% end %>
</div>